

<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <a href="/"><img src="//cdn.shopify.com/s/files/1/0997/5124/t/5/assets/logo_2x.png?1644969940144857373" alt="Park Avenue Coffee" /></a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapsable">
    <ul class="nav navbar-nav foo" id="menu">
      <li class="active"><a href="/">Border Coffe</a></li>
      <li><a href="/about-us">Home</a></li>
      <li>
        <a href="/contact">
          About Us
        </a>
      </li>
      
    </ul>
  </div>
</div>
</nav>